:root {
    --color-text-titel: #0b6b6b;
    --text-color-main: #334155;
    --color-text-titel-logo: #0a7cec;
    --btn-color: #22C55E;
    --btn-cat: #3B82F6;


}

a {
    text-decoration: none !important;
    color: var(--text-color-main) !important
}

a:hover {
    color: #064b4b !important;
}

/*Nav Bar*/
.NavBar {

    width: 90%;
    position: fixed;
    top: 10px;
    right: auto;
    left: auto;
    display: flex;
    justify-content: space-between;
    align-items: center !important;
    gap: 10px;
    box-shadow: 0px 15px 25px var(--text-color-main);
    backdrop-filter: blur(2.5px);
    padding: 10px;
    border-radius: 20px;
    z-index: 10;

}

.NavBar .Logo {
    flex: 3;
    color: var(--color-text-titel-logo);

}

.Links {
    margin-left: 500px !important;
}

.NavButton {

    color: var(--text-color-main) !important;
    font-weight: 700 !important;
    transition: 0.2s ease-in-out !important;
}

.NavButton:hover {
    transform: scale(1.1);
    margin: 0px 5px;
    color: #0b6b6b !important;
}

.LogoNavBar {
    width: 60px !important;

    transform: scale(1.1);

}

.BtnNavbarAdd {
    background-color: #0b6b6b !important;
    font-weight: 700 !important;


}

/*Card Category */
.CardCategory {
    box-shadow: 0px 15px 0px var(--text-color-main);
    backdrop-filter: blur(20.5px);
    border-radius: 20px;
    padding: 10px;
    transition: all 0.3s ease-in-out;
}

.CardCategory:hover {
    transform: scale(1.2) !important;
    cursor: pointer;
}

.CardCategoryH1 {
    color: var(--text-color-main) !important;
    text-align: center !important;
    font-weight: 800;
    font-size: 25px;
}

.CardCategory {
    box-shadow: 0px 0px 30px var(--text-color-main);
    transform: scale(1.1) !important
}

/*Card Category */

/*Foter*/
.Foter {
    box-shadow: 0px 15px 25px var(--text-color-main);
    backdrop-filter: blur(2.5px);
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90% !important;
    border-radius: 10px;
    padding: 5px 20px;
    background-color: #c8cfcf;
    color: var(--text-color-main);


}

.FoterImge {
    transform: scale(1.6);
}

.FoterImge:hover {
    cursor: pointer;
    transform: scale(1.6);
}



/*Foter*/

/*Selctor*/