:root {
    --color-text-titel: #0F172A;
    --color-text-titel-logo: #0a7cec;
    --text-color-main: #334155;
    --btn-color: #22C55E;
    --btn-cat: #3B82F6;
    --bg-color-: #F8FAFC;
    --secend-color :#0294ad;
}


/*Home*/
a {
    text-decoration: none !important;
}

.Home {
    width: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 60px;


    padding: 20px;
}

.HomeTop {
    width: 100% !important;


}

.HTS1 {
    width: 100% !important;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;
}

.BtnSerchHome {
    color: whitesmoke !important;
    background-color: var(--btn-color) !important;
    border-radius: 7px !important;
    font-weight: 900 !important;
    transition: all 0.5s ease-in-out !important;
}

.BtnSerchHome:hover {
    margin: 0px 10px;
    box-shadow: 0px 0px 20px #076d57;
}

.Home .mb-8 {
    color: var(--text-color-main) !important;
   font-size: xx-large;
    margin-top: 0px;
}

.Form {
    background-color: var(--bg-color-) !important;
    border-radius: 18px !important;
    transition: 0.5s ease-in-out !important;
    
    

}

.Form:hover {
    box-shadow: 0px 0px 30px var(--text-color-main);
    transform: scale(1.1) !important;
}

.MainLogoHome {
    min-width: 240px;
    max-width: 300px;
    cursor: pointer;
    filter: drop-shadow(0 -6mm 40mm rgb(1, 29, 37));
    transform: scale(1.5) ;
}

.MainLogoHome:hover {
    border-image: 0px 0px 10px red;
}

.BtnAboutusHome {
  text-align: center;

}

.BtnAboutusHome:hover {
    transform: scale(1.1) !important;
    text-shadow: 0px 0px 10px rgb(10, 10, 10) !important;
   
    color: rgba(0, 90, 112, 0.89) !important;
}
.Categoures{
    margin-top:30px ;
}
.CategouresC{
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto 1fr;
    column-gap: 50px;
    
   
   
}
.AboutusHome{
   
    grid-column: 1/3;
}
.BtnAboutusHome{
  margin-left: 50px;

}
@media (max-width : 750px){
    .Home .mb-8{
        font-size: x-large;
    }
    .MainLogoHome{
        transform: scale(1);
    }
    .TitelAnimation{
        margin-top: 5px !important;
    }
}


/*------error----*/
.error {
    width: 100%;
    height: 80vh;
    color: #0a7cec !important;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    cursor: pointer;
}

/*------error----*/


/*Books*/
.Books {

    height: 1fr;
    width: 100%;
    margin-top: 70px !important;
    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: column;
    margin-bottom: 30px;
    
}

.BooksTop {
    width: 100% !important;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
    padding: 5px;
}

.BooksTitel {
    color: whitesmoke !important;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.SmallTitelBooks {
    font-size: 15px !important;
    font-weight: 900;
    color: var(--color-text-titel) !important;
}

.Books .mb-8 {
    color: var(--text-color-main) !important;
    font-size: 50px !important;
    font-weight: 800;
}

.BooksSerchSection {
    width: 100% !important;
}

.BooksLogoHome {
    min-width: 140px;
    max-width: 180px;
    cursor: rgb(54, 87, 121)r;
    filter: drop-shadow(0 -6mm 40mm rgba(10, 61, 75, 0.5));
    transform: scale(1.5) !important;
}

/*Books Body*/

.BodyCover {
    background-image: url("/src/Project/Photo/Main-logo-no-text.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    height: 50% !important;
    width: 100%;
    
}
.BooksBody {
    height: 100vh;
    padding: 10px;
    width: 100% !important;
    display: flex;
    justify-content: end;
    align-items: start;
    flex-direction: row;
    gap: 30px;
    box-shadow: 0px 15px 25px var(--text-color-main);
    backdrop-filter: blur(9.5px);
    margin-top: 10px;
    border-radius: 15px;
    padding: 20px;


}


.BooksShow {

    flex: 7;
   border-radius: 20px;

}

.TheBooksCard {
    flex: 1;
   
}
.FilterOptions{
 
    width: 100%;
        display: grid !important;
        grid-template-columns: auto auto auto;
        column-gap: normal;
 
        column-gap: 15px;
}
@media (max-width : 750px){
  .BooksBody{
    flex-direction: column-reverse;
    padding: 0px;
   
  }
  .FilterOptions{
    grid-template-columns: auto  auto  !important;
    grid-template-rows: auto auto !important;
     row-gap:7px ;  
     margin-bottom: 10px;
     padding: 10px;
  }
  .FilterOptions .BtnSerchHome{
    grid-column: 1/3 !important;
  }
}

/*Books Menu*/
.BooksMenu{
    flex: 1.5;
    position: sticky;
    top:100px;
    margin-top: 68px;

}
.BooksMenusCo{
    box-shadow: 0px 15px 25px var(--text-color-main);
    backdrop-filter: blur(4.5px);
   background-color: transparent !important;
    border-radius: 15px;
    padding: 5px 5px;
 
}
.BooksMenusCo ul{
    list-style: none;
    
   
   & li{
    display: flex;
        justify-content: center;
        align-items: center;
        gap: 10px;
        background-color: whitesmoke !important;
            border-radius: 9px;
            margin-bottom: 10px;
            padding: 10px;
            color: var(--text-color-main) !important;
            font-weight: 800;
   }
}
.ListImge{
    width: 20px !important;
    transform: scale(1.2);
}
@media (max-width : 750px){
    .BooksMenu{
        margin: auto;
        position: static  !important;
        top: 0px !important;
    }
    .BooksMenusCo ul{
      
        display: grid !important;
        grid-template-columns: auto auto auto  ;
        grid-template-rows: auto auto;
        row-gap: 0px;
        column-gap: 7px;
    }
    .BooksMenusCo li {
       margin: auto;
    }
}

/*Books Show Card*/
.TheBooksCard{
    width: 100%;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: scroll !important;
    padding: 10px;
}
.TheBooksCardContent{
    width: 100% !important;
    display: grid;
    grid-template-columns: auto auto auto auto auto;
    grid-template-rows: min-content(1);
    gap: 10px ;
    row-gap: 30px;
}
@media (max-width : 750px) {
    .TheBooksCardContent{
        grid-template-columns: auto auto auto;
    }
}


/*About-us*/
.About{
    margin-top:50px ;
    width: 100%;
    margin-bottom: 20px;
   
}
.AboutTop{
 
  width: 100%;
   display: flex;
  justify-content: center;
 align-items: center;
 margin-top: 30px;
 letter-spacing: 7px;
}
.TitelAnimation{
color: var(--text-color-main) !important;
    font-weight: 900;
   
    transition: 0.5s ease-in-out;
    
}
.TitelAnimation:hover{
    letter-spacing: 2px ;
    color: whitesmoke;
    cursor: pointer;
}
.AboutBody{
    width: 100%;
    margin-top: 50px;
    display: grid;
    grid-template-columns: auto auto auto auto !important;
    grid-template-rows: 1fr 1fr  !important;
    gap: 5px;
    
}
.AboutLogo{
   grid-column:1/3 ;
   height: 100% !important;
   grid-row: 1/3 ;
 
    
}

.AboutLogoCover{
    width: 100%;
    background-color: whitesmoke;
    border-radius: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}
.AboutLogoImge{
    width: 90% !important;
    
}
@media (max-width: 750px) {
   .AboutLogo{
    grid-column: 1/4 !important;
    grid-row: 1/2 !important;
    position: sticky !important;
    top: 50px !important;
   }
   .AboutLogoImge{
    transform: scale(1.5px);
   }
   .AboutBrandName{
    font-size: 50px !important;
   }
   .TextAfterLogo{
    font-size: x-small;
    font-weight: 900;
   }
   .AboutTextContentP p{
    font-size: small !important;
   }
}
/*text*/
.AboutTextContent{
    grid-column: 6/8;
    grid-row: 1/3;
    display: flex;
    justify-content: center;
    align-items: start;
    flex-direction: column;
    
}
.AboutBrandName{
    
    font-size: 60px;
    font-weight: 800;
 
}
.AboutBrandNameAnimation{
 
    margin: 0px !important;
}
.TextAfterLogo{
    color: rgba(18, 18, 19, 0.774);
    letter-spacing: 5px;
}
.AboutP {
    font-size: medium;
    color: #141e2c ;
}
.AboutTextContentP b{
    color: #0294ad !important;
    letter-spacing: 1px;
}

.AboutVision{
    margin-top: 5px;
    text-align: center;
}
.AboutDevalopmen{

    margin-top: 30px;
    margin-bottom: 20px;
}
.DevalopmenTop {
    display: flex;
    justify-content: center;
    align-items: center;
}
.DevalopmenFoter{
display: grid;
grid-template-columns: auto  auto ;
column-gap: 10px;
width: 80% !important;
margin: auto !important;
margin-top: 10px;

}
.DevalopmenFoter div {
   text-align: center;
   width: 100%;
  
}

.C{
 font-size: 100px !important;
 color: var(--text-color-main);
 transition:  0.2s ease-in-out !important;
}
.C:hover{
    transform: scale(1.3) !important;
    cursor: pointer !important;
}
.LinkForDevmoper{
    color: #047979 !important;
 
   font-size: small;
    

}

@media (max-width:750px) {
    .C{
        font-size: 50px !important;
    }
}

/*About-us*/
/*Show */
.SHowPage{
    direction: rtl !important;
}
.InformationsShow{
    background: var(--bg-color-) ;
    border-radius: 20px;
    margin-top: 50px;
  
    
}
.TheRooteOfBookShow{
    padding-left: 10px !important;
    direction: rtl !important;
}
.Book{
    height: 100%;
    width: 100%;
   display: grid;
   grid-template-columns: 50% auto auto;
   grid-template-rows : 2;
   column-gap: 10px;
   row-gap: 20px;
   padding: 10px;
}

.Cover{
    grid-row: 1/3;
    border-radius: 20px ;
    overflow: hidden;
    padding: 2px;
   display: flex;
   justify-content: center;
   align-items: center;
   width:1fr;
   height: fit-content;
   padding: 10px;
   background-color: #c8cfcf;
   
}
.BookCover {
    max-height  :  400px; 
    border-radius: 25px !important;
    
}
.Info{
    grid-column: 2/6;
    border-radius: 20px;
    padding: 20px;
    display: grid;
    grid-template-rows:  auto auto;
    background-color: rgba(207, 205, 202, 0.692);
}
.MainInfo{
    margin-bottom: 30px;
    color:rgba(29, 28, 28, 0.884)    ;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
}
.Titel{
    font-size: xx-large;
}
.auther{
    font-size: smaller;
}


 .Link{
background-color: var(--color-text-titel);
color: white !important;
padding: 5px 10px;
border-radius: 5px;
font-size:large;
transition: all 0.5s easein;

}
.DwBtn{
    background-color: #076d57 !important;
    padding: 10px;
    width: 80%;
    border-radius: 10px;
    color: whitesmoke !important;
    text-align: center;
    font-weight: 800;
}

.Actions{
    grid-column: 2/4;
    background-color: #c0bdbc;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border-radius: 20px;
    font-weight: 700;
   
   
}
.Sher{
    flex:1;
    color: var(--text-color-main) !important;
    display: flex ;
    justify-content: stretch;
    align-items: center;
    gap: 10px;
}


.Help{
    grid-column: 4/6;
    background-color: #c9c7c6;
    border-radius: 20px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 10px;
}

.shmedai{
    
    display: grid;
    grid-template-columns: auto auto auto ;
}
.ShmedaiBtn{
    color: whitesmoke !important;
    transition:  0.5s ease-in-out !important;
}
.ShmedaiBtn:hover{
    background-color: #0294ad !important;
   transform: rotate(360deg ) !important;
}
/*ShowButtom*/
.ShowButtom{
    margin-top: 20px !important;
    margin-bottom: 50px !important;
}

.PuBuBtn{

    text-align: center;
}

/*ReturenHome*/
.ReturenHome{
    margin-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;

}
.GroupReturenHome{
    display: grid;
    grid-template-columns: auto auto auto;
    row-gap: 10px;
}